* {
  margin: 0;
  padding: 0;
}

.head {
  border: 2px solid #000000;
  display: inline-block;
  width: 150px;
  height: 55px;
  text-align: center;
  margin-top: 20px;
  padding-left: 10px;
  margin-left: 10px;
}

.Projetos {
  border: 2px solid #000000;
  display: inline-block;
  width: 260px;
  height: 160px;
  margin-top: 10px;
  margin-left: 10px;
}

.bold {
  border: 2px solid #000000;
}

.Rodapé {
  border: 2px solid #000000;
  margin-left: 10px;
  height: 55px;

  p {
    margin-top: 20px;
  }
}

h1 {
  margin-top: 30px;
  margin-left: 10px;
}

p {
  margin-left: 10px;
  margin-bottom: 15px;
}
